<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <!-- template 不可见的空的包裹元素 -->
      <template v-if="awesome">
        <h1>Title</h1>
        <p>Paragraph 1</p>
        <p>Paragraph 2</p>
      </template>

      <hr />

      <!-- key唯一性 -->
      <!-- 但当你不想复用元素，而是想两个元素完全独立，需要添加一个具有唯一值的 key attribute -->
      <template v-if="loginType === 'username'">
        <label>Username</label>
        <input :key="111" placeholder="Enter your username" />
      </template>
      <template v-else>
        <label>Email</label>
        <input :key="222" placeholder="Enter your email address" />
      </template>
      <br />
      <button @click="loginType=loginType=='username'? 'email' : 'username'">toggle</button>
      <!-- 当点击切换是，原来的输入值还在，说明vue并没有删除原来的input，而是简单的修改了input的 placeholder属性 -->

      <br />
      <!-- v-show = dispaly:none    始终在dom中，但是根据awesome条件修改样式 -->
      <h1 v-if="awesome">fgdsfgfgf</h1>
      <h1 v-show="awesome">fgdsfgfgf</h1>
      <!-- v-if开销大，若是频繁切换 使用 v-show-->
    </div>
    <script>
      var vm = new Vue({
        el: '#app',

        data() {
          return {
            awesome: false,
            loginType: 'username',
          };
        },
      });
    </script>
  </body>
</html>
