<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <ul>
        <!-- in 和 of 作用一样 -->
        <!-- v-for中也可通过绑定key值实现不复用元素，使其唯一 -->
        <li v-for="(value, key, index) in person" :key="index">{{value}}-{{key}}-{{index}}</li>
        <li v-for="(value, key, index) of person" :key="index">{{value}}-{{key}}-{{index}}</li>
      </ul>
      <hr />
      <p>{{}}</p>
      <button @click="xxx">add</button>
    </div>
    <script>
      var vm = new Vue({
        el: '#app',

        data() {
          return {
            person: {
              name: 'nick',
              age: 17,
              job: null,
            },
          };
        },

        methods: {
          xxx() {
            // es6方法
            // this.person = Object.assign({}, this.person, { xxx: 123 });
            
            // vue方法
            // this.$set(this.person, 'xxx', 'engineer');
          },
        },
      });
    </script>
  </body>
</html>
