<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="value" />

      <hr />
      <textarea name="" id="" cols="30" rows="10" v-model="value">xxx yyy</textarea>

      <hr />
      <!-- 单选框 -->
      <input type="radio" name="gender" id="" value="男" v-model="checkbox" />
      <input type="radio" name="gender" id="" value="女" v-model="checkbox" />

      <hr />
      <!-- 多选框  在vue中默认选中需在状态写上默认值，原本checked属性已无用 -->
      <input type="checkbox" name="" id="" value="苹果" v-model="fav" />
      <input type="checkbox" name="" id="" value="葡萄" v-model="fav" />
      <input type="checkbox" name="" id="" value="香蕉" v-model="fav" />

      <hr />
      <!-- 下拉框 -->
      <select name="" id="" v-model="car">
        <option value="1">选项1</option>
        <option value="2">选项2</option>
        <option value="3">选项3</option>
      </select>
    </div>

    <script>
      var vm = new Vue({
        el: '#app',

        data() {
          return {
            value: '', // 初始值设为空字符串，可以根据需求修改为其他值
            checkbox: '女',
            fav: ['葡萄'],
            car: 3,
          };
        },
      });
    </script>
  </body>
</html>
