<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h3>{{msg}}</h3>
      <h3>{{user.age>18?'成年':'未成年'}}</h3>
      <hr />
      <h5 :title="msg">{{xxx(10)}}</h5>
      <h5>{{yyy(msg)}}</h5>
      <hr />
      <h3 v-if="seen">锄禾日当午</h3>
      <h3 v-else="seen">汗滴禾下土</h3>
      <hr />
      <p v-for="arr in arrs">{{arr}}</p>
      <hr />
      <ul>
        <li v-for="todo in todos">{{todo.text}}</li>
      </ul>
      <hr />
      <input type="button" value="add" v-on:click="add" />
      <hr />
      <!-- v-on: 可简写为 @ -->
      <button v-on:click="double">双倍</button>
      <hr />
      <button @click="reverse">翻转</button>
      <hr />
      <h3>{{msg}}</h3>
      <h3>{{zzz(msg)}}</h3>
      <hr />
    </div>

    <script>
      const app = new Vue({
        el: '#app',

        data: {
          msg: 'Hello Vue!',
          arr: [1, 2, 3],
          user: {
            name: 'John Doe',
            age: 17,
          },
          seen: false,
          arrs: [1, 2, 3, 4, 5, 6],
          todos: [{ text: '学习 JavaScript' }, { text: '学习 Vue' }, { text: '整个牛项目' }],
        },

        // 方法
        methods: {
          xxx: (n) => n * 2,

          yyy: (s) => console.log(s),

          add: function () {
            console.log(this.arrs);

            // this.arrs.push(7);
            this.arrs = [...this.arrs, 7];

            // ***********重点************
            // this.arrs[1] = 2222;
            // 状态改变 视图不会更新
            // 1. 不能直接通过数组的下标去更新
            // 2. 不能通过数组的长度更新

            // 应该返回一个全新的数组 一层的深拷贝就可以
            // 例如push pop shift unshift splice sort reverse filter等
          },

          double: function () {
            this.arrs = this.arrs.filter((item) => item % 2 == 0);
          },

          reverse: function () {
            this.msg = [...this.msg].reverse().join(''); // 字符串翻转
          },

          zzz: (str) => [...str].reverse().join(''),
        },
      });
    </script>
  </body>
</html>
